.card {
  width: clamp(150px, 9%, 200px);
  aspect-ratio: 1/1;
  border: 2px black solid;
  border-radius: 5%;
  padding: 0px;
  overflow: hidden;
  position: relative;
  background-color: hsl(207, 44%, 40%);
}
.card-image {
  margin: 0px;
  padding: 0px;
  object-fit: cover;
  object-position: center;
  width: 100%; height: 100%;
  display: block;
}
.glow {
  transition: box-shadow 0.2s ease-in-out;
}
.glow:hover {
  box-shadow: 0 0 6px 4px  hsl(240, 100%, 20%),
  0 0 10px 8px  hsl(240, 100%, 70%); 
  cursor: pointer;
  border: 2px hsl(240, 100%, 50%) solid;
}

.card-title{
  display: block;
  font-weight: bold;
  position: absolute;
  bottom: 0px;
  left:50%;
  transform: translateX(-50%);
  background-color: hsl(207, 44%, 40%);
  padding-inline-start: 0.5em;
  z-index: 100;
}