.score-card {
  padding: 0px;
  margin: 0px;
  max-width: fit-content;
  padding-inline: 0.5em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1.2rem 1.2rem;
  place-items: center;
  font-size: 0.9rem;
  line-height: 0.9rem;
  margin-inline-start: auto;
  margin-inline-end: 1rem;
  font-weight: bold;
  user-select: none;
  row-gap: 0px;
  column-gap: 0.5rem;
}

.score,
.high-score {
  margin:0;
  justify-self: end;
}

.score {
  color: yellow;
}
.high-score {
  color: red;
}
.score-card-para{
  margin: 0;
  color: white;
}