
.card-selector{
  display: flex;
  width: fit-content;
  margin: 1rem auto;
}
.card-grid{
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  background-color: steelblue;
  padding: 1rem;
  align-items: center;
  justify-content: center;
}

.acknowledgement{
  text-align: center;
  font-size: 0.9rem;
  margin-block-start: 2rem;
  margin-inline: auto;
  color: white;
  font-style: italic;
}

.status {
  font-size: 40px;
  font-weight: bold;
  animation: pulse 2.5s infinite ease-in-out;
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  transform: translateY(-50%);
}


@keyframes pulse {
  0% {
    transform: scale(0.5);
    color: red;
  }
  50% {
    transform: scale(1.3);
    color: blue;
  }
  100% {
    transform: scale(0.5);
    color: green;
  }
}

.button-go{
  margin-inline-start: 2rem;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.25rem 1rem;
  background-color: green;
  color: white;
}
